<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/f2be6d220c.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <title>Home Design</title>
</head>

<body>
    <header style="position: absolute;">
        <div class="logo">
            <a href="">Logo is Here</a>
        </div>
        <div class="nav">
            <a href="">Home</a>
            <a href="{% url 'aboutjs' %}"> About JS</a>
            <a href="">Contact</a>
        </div>
    </header>
    <main>
        <div class="herocontent">
            <div class="hero">
                <h2>Title Goes Here..</h2>
                <p>Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Porro quaerat inventore at qui ab reiciendis?Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                    Culpa omnis dignissimos odit ipsam fugiat, quod sunt! Impedit nam doloribus omnis?</p>
            </div>
        </div>
    </main>
    <div class="destination">  
        <h1 class="destinationhead"> <span class="maroon">Our Places to Explore </span></h1>

        <div class="destinationsection">
            {% for place in place%}
            <div class="places">
                <div class="imgsection">
                    <img src="{{place.images.url}}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>{{place.name}}</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">{{place.price}}</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="{% url 'detail' place.id %}" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                   
                </div>
                
            </div>
            {% endfor %}
            <!-- <div class="places">
                <div class="imgsection">
                    <img src="{% static 'images/manang.jpg' %}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>Manang</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">30000</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                   
                </div>
                
            </div>
            <div class="places">
                <div class="imgsection">
                    <img src="{% static 'images/mustang.jpg' %}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>Mustang</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">30000</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                </div>
                
            </div>
            <div class="places">
                <div class="imgsection">
                    <img src="{% static 'images/mardi.jpg' %}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>Mardi</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">30000</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                   
                </div>
                
            </div>
            <div class="places">
                <div class="imgsection">
                    <img src="{% static 'images/humla.jpg' %}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>Humla</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">30000</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                    
                </div>
                
            </div>
            
            <div class="places">
                <div class="imgsection">
                    <img src="{% static 'images/gorkha.jpg' %}" alt="">
                </div>
                <div class="imgdetail">
                    <h2>Gorkha</h2>
                    <div class="imgpackage">
                        <div class="price">
                            <h3>Rs <span class="green">30000</span></h3>
                        </div>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span>
                        View More 
                        </span>
                    </a>
                </div>
                
            </div> -->
            
          
        </div>
    </div>
    <footer class="footer">
        <div class="mainfooter">
            <h2>This is footer</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Perspiciatis nisi expedita ab molestiae? Eaque ex totam ad itaque nostrum neque?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, sit.</p>
        <div class="link">
            <i class="fa fa-facebook "></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <!-- <i class="fa fa-coffee fa-5x"></i> -->
        </div>
        </div>

    </footer>
</body>

</html>